.content {
  flex: 3;
}
.table th,
.table td {
  border: 1px solid #000; /* You can adjust the border style and color here */
}

.table-row:hover {
  background-color: lightgray;
  cursor: pointer; /* Add a pointer cursor on hover to indicate interactivity */
}

.rightbarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}

.rightbarOffline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}
